<style>
.fa-compass{
  font-size: 3rem !important;
}
.font-increase{
  font-size: 1.1rem !important;
}
  .btn-search {
    background-color: #fe424fd5;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    /* font-size: 0.9rem; */
  }
  .profilePhoto img{
    border-radius: 50%;
    height: 3rem;
    object-fit: cover;
    object-position: center;
    border: 2px solid black;
  }
  .userIcon i{
    font-size: 1.4rem;
  }
    @media (max-width: 768px) {
    .navbar {
      height: fit-content;
      z-index: 999;
      
    }
    .md-screen-none{
      display: none;
    }
  }
  small{
    display: inline;
  }
    @media (min-width: 768px) {
    small{
      display: none;
    }
  }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass "></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link font-increase" href="/listings">StayEase</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex"  method="get" action="/listings/search">
          <input
            class="form-control me-2 search-input"
            type="search"
            name="search"
            placeholder="Search destinations"
            aria-label="Search"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto text-center">
        <a class="nav-link font-increase mt-2" href="/listings/new">Rent your home</a>
        <% if(!currUser){ %>
        <a class="nav-link mt-2 " href="/singup"><b>SingUp</b></a>
        <a class="nav-link mt-2" href="/login"><b>LogIn</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link mt-2" href="/Logout"><b>LogOut</b></a>
         <% if(currUser.userPhoto) {%>
          <a class="nav-link profilePhoto text-center" href="/profile"><img class="me-1" src="<%= currUser.userPhoto %>" alt="profilePhoto"><small>My Profile</small></a> <br>
         
           
          <% } %>
          <% if(!currUser.userPhoto){ %>
            <a class="nav-link mt-2 userIcon" href="/profile"><b><i class="fa-regular fa-user"></i></b></a> <br>
            <small>My Profile</small>
            <% } %>
        <% } %>
      </div>
    </div>
  </div>
</nav>



