<% layout("/layouts/boilerplate") %>
<body>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-8 col-10">
        <h3 class="mb-4 text-center ">Rent Your Home Now</h3>

        <form
          action="/listings"
          method="post"
          class="needs-validation"
          novalidate
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title*</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="listings[title]"
              placeholder="Enter title"
              required
            />
            <div class="invalid-feedback">Please, enter a title</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description*</label>
            <textarea
              name="listings[description]"
              id="description"
              class="form-control"
              placeholder="Write location description"
              required
            ></textarea>
            <div class="invalid-feedback">Please, provide a description</div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload Image*</label>
            <input
              type="file"
              name="listings[image]"
              id="image"
              class="form-control"
              required
            />
          </div>

          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price*</label>
              <input
                type="number"
                name="listings[price]"
                id="price"
                class="form-control"
                placeholder="Enter price"
                required
              />
              <div class="invalid-feedback">Please, enter a valid price</div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country*</label>
              <input
                type="text"
                name="listings[country]"
                id="country"
                class="form-control"
                placeholder="Enter country"
                required
              />
              <div class="invalid-feedback">Country name cannot be empty</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location*</label>
            <input
              type="text"
              name="listings[location]"
              id="location"
              class="form-control"
              placeholder="Enter location"
              required
            />
            <div class="invalid-feedback">Location name cannot be empty</div>
          </div>

          <div class="mb-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="invalidCheck"
                required
              />
              <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>

          <button type="submit" class="btn add-btn w-100">Add</button>
          <br /><br />
        </form>
      </div>
    </div>
  </div>
</body>
