<% layout("/layouts/boilerplate") %>

<body>
  <div class="row mt-5 col-6 offset-2">
    <div
      class="alert alert-danger d-flex align-items-center justify-content-center"
      role="alert"
    >
      <h4 class="alert-heading"><%= statusCode %>! <%= message %></h4>
    </div>
  </div>
</body>
