<%#
<% layout("/layouts/boilerplate") %>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2>Edit Profile</h2>
            <hr>

            <form action="/profile/edit" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input 
                        type="text" 
                        name="username" 
                        class="form-control" 
                        value="<%= currUser.username %>" 
                        required>
                        <div class="invalid-feedback">
        username is  required
      </div>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input 
                        type="email" 
                        name="email" 
                        class="form-control" 
                        value="<%= currUser.email %>" 
                        required>
                        <div class="invalid-feedback">
        email is  required
      </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Profile Picture</label>
                    <br>
                    <img src="<%= currUser.userPhoto %>" 
                         class="img-thumbnail mb-2"
                         style="width:120px; height:120px; object-fit:cover; border-radius:50%;">
                    
                    <input 
                        type="file" 
                        name="userPhoto" 
                        class="form-control mt-2" 
                        accept="image/*">
                        <div class="invalid-feedback">
        image is  required
      </div>
                </div>

                <button type="submit" class="btn btn-success">Save Changes</button>
                <a href="/profile" class="btn btn-secondary ms-2">Cancel</a>

            </form>

        </div>
    </div>
</div>


 %>